@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mb-2">
        <img src="~/Image/Icon.png" />
    </div>
    <div>
        <img src="~/Image/portada.png" />
    </div>
    
</div>

<style>
    body {
        background-color: rgba(220, 199, 170, .25)
    }
</style>